@model IEnumerable<TestePraticoVerity.Models.CategoriaDTO>

@{
    ViewBag.Title = "Lista de Categorias";
}

<h2>Categorias</h2>

@*<a href="javascript:void(0);" onclick="CategoriaAdicionar()" class="btn btn-default">Adicionar Categorias</a>*@
@Html.ActionLink("Adicionar Categorias","Adicionar","Categoria", htmlAttributes: new { @class = "btn btn - default"})
<hr />
@if (Model == null || Model.Count() <= 0)
{
    <div>
        Não existem Categorias cadastrados
    </div>
}
else
{ 
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
    </tr>
}

</table>
}

